<table class="w-100 margin-bottom">
  <tr>
    <th colspan="4" class="contrat-title-header">
      4 - MODALITÉS DE PAIEMENT / <em>PAYMENT TERMS </em>  
    </th>
    <!-- <th colspan="2" class="no-border">
      <app-numero-contrat [numero]="numeroContrat"></app-numero-contrat>
    </th> -->
  </tr>
<tr>
  <td colspan="4" [innerHTML]="modalitePayementUn | safeHtml" class="no-bottom-space"></td>
</tr>
<tr>
  <td colspan="4">
    <table class="w-100">
      <tr>
        <td class="no-border">Début du contrat - date du 1er  cours / <em>Beginning of contract – Date of first course</em> :</td>
        <td class="no-border border-bottom"><span *ngIf="dateDebut">{{dateDebut | date:'dd-MM-yyyy'}}</span></td>
      </tr>
      <tr>
          <td class="no-border"></td>
          <td class="no-border">(JJ/MM/AAAA) / <em>(MM/DD/ YYYY)</em> </td>
        </tr>
    </table>
    <table class="w-100">
        <tr>
          <td class="no-border">Fin du contrat / <em>End of contract</em> :</td>
          <td class="no-border border-bottom"><span *ngIf="dateDebut">{{dateFin | date:'dd-MM-yyyy'}}</span></td>
        </tr>
        <tr>
            <td class="no-border"></td>
            <td class="no-border">(JJ/MM/AAAA) / <em>(MM/DD/ YYYY)</em> </td>
          </tr>
      </table>
  </td>
</tr>
<tr>
  <td colspan="4" [innerHTML]="modalitePayementDeux | safeHtml" class="no-bottom-space"></td>
</tr>
<tr>
  <td colspan="4">
    <app-date-versement [noFR]="'1er'" [noENG]="'1st'" [versement]="versement"></app-date-versement>
    <app-date-versement [noFR]="'2eme'" [noENG]="'2nd'" [versement]="versement"></app-date-versement>
    <app-date-versement [noFR]="'3eme'" [noENG]="'3rd'" [versement]="versement"></app-date-versement>
    <app-date-versement [noFR]="'4eme'" [noENG]="'4th'" ></app-date-versement>
  </td>
</tr>
<tr>
  <td colspan="4"  [innerHTML]="modalitePayementTrois | safeHtml" class="no-bottom-space border-bottom"></td>
</tr>
</table>