/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.none-border-top > input{
    border-top-color: transparent !important;
}

.bande{
    width: auto;
    height: 20px;
    background-color: aqua;
}

.push-right{
    text-align: right;
}