<table border="1" class="w-100">
    <tr>
      <td class="no-bottom"><strong>Terrain moto / <em> Closed track </em> : </strong></td>
    </tr>
    <tr>
      <td class="h-row"></td>
    </tr>
    <tr>
      <td  class="no-bottom">Adresse / <em>Address</em> </td>
    </tr>
    <tr>
      <td class="h-row"></td>
    </tr>
    <tr>
      <td  class="no-bottom">Ville / <em>City</em> </td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td>Code postal /<em> Postal code</em> </td>
    </tr>
  </table>