<div class="">
    <mdb-card>
        <mdb-card-header>
            <div class="row">
                <div style="text-align: center;width: 100%;">
                    <h3>{{'fichier.titre' | translate}}</h3>
                </div>
            </div>
        </mdb-card-header>
        <mdb-card-body>
            <mdb-card-text>
                <form [formGroup]="form">
                    <div class="row">
                        <div class="col col-lg-4">
                            <mat-form-field appearance="fill">
                                <mat-label>Catégorie de fichiers</mat-label>
                                <select matNativeControl [formControl]="groupControl" name="group">
                                    <ng-template ngFor let-group [ngForOf]="groups" let-i="index">
                                        <option [value]="group">{{group}}</option>
                                    </ng-template>
                                </select>
                            </mat-form-field>
                        </div>
                        <div class="col col-lg-3">
                            <mat-form-field appearance="fill">
                              <mat-label>{{'eleve.langue' | translate}}</mat-label>
                              <select matNativeControl  name="lang" [formControl]="langControl">
                                <ng-template ngFor let-language [ngForOf]="languages">
                            <option [value]="language.value">{{language.label}}</option>
                        </ng-template>
                              </select>
                            </mat-form-field>
                          </div>
                    </div>
                    <div class="row">
                        <div class="col col-lg-12" style="margin-bottom: 20px;">
                        <h5 class="no-margin-top pc-header">Description</h5>
 <editor
   initialValue=""
   [init]="{
        height: 300,
        menubar: false,
        content_style: '.tox-toolbar { background-color: #f1f1f1 !important; }',
        plugins: [
          'advlist autolink lists link image charmap print preview anchor',
          'searchreplace visualblocks code fullscreen',
          'insertdatetime media table paste code help wordcount'
        ],
        toolbar:
          'undo redo | formatselect | bold italic backcolor | \
          alignleft aligncenter alignright alignjustify | \
          bullist numlist outdent indent|styleselect |table tabledelete | \
          tableprops tablerowprops tablecellprops | tableinsertrowbefore tableinsertrowafter tabledeleterow | tableinsertcolbefore tableinsertcolafter tabledeletecol | removeformat | help',
        entity_encoding:'numeric',
        style_formats: [
                {title:'Indent', selector:'p', styles:{'padding-left':'5px'}},
                {title:'MarginB', selector:'p', styles:{'margin-bottom':'2px'}}
                ],
        style_formats_merge: true
      }"
      [formControl]="descControl"
   >
 </editor></div>
                    </div>
                    <div class="row">
                        <div class="col col-lg-12" style="text-align:left">
                            <div style="background: whitesmoke;width: 100%;">
                                <button type="button" class="btn bg-color-green" (click)="fakeUpload()" 
                                    style="margin-right:10px;">
                                    <i class="fas fa-upload"></i>&nbsp;{{'fichier.televerser' | translate}}
                                </button>
                                <span> {{nameFile}} </span>
                            </div>
                        </div>
                    </div>
                </form>
                <input class="form-control" type="file" #fileInput (change)="onChange($event)" style="display: none;">
                <div class="row">
                    <div class="col col-lg-12" style="text-align:right;margin: 20px 0px;">
                        <button (click)="onUpload()" class="btn bg-color-green">
                            <i class="fas fa-save"></i>&nbsp; {{'fichier.enregistrer' | translate}}
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-lg-12" style="text-align:center;color: white;margin: 20px 0px;background: grey;">
                       <h4> Fichiers</h4>
                    </div>
                </div>
                <div class="row" >
                    <div class="col col-12">
                        <div class="row">
                    <div class="col col-lg-12" style="text-align:right;margin: 20px 0px;">
                        <button (click)="supprimer()" class="btn bg-color-green" [disabled]="isDeleted()">
                            <i class="fas fa-trash"></i>&nbsp; {{'fichier.supprimer' | translate}}
                        </button>

                    </div>
                    </div>
                    </div>
                    <div class="col col-lg-12" style="background: gray; overflow:scroll;max-height:500px">
                        <form>
                        <div class="row">
                            <mat-selection-list #filesSelected>
                                <mat-list-option class="col col-lg-4" *ngFor="let file of dragables" [value]="file">
                                
                        <!-- <div class="col col-lg-4" *ngFor="let files of dragables"  class="example-list" > -->
                            <div (click)="clickBox(file.id)" class="example-box" >
                               
                                <!-- <img src="{{file.src}}" class="cover" title="{{file.name}}" /> -->
                                <mat-card class="example-card cover">
                                    <mat-card-header>
                                       
                                        <mat-card-title><p class="cut-text">{{file.group}}</p></mat-card-title>
                                        
                                      </mat-card-header>
                                    <img mat-card-image src="{{getSource(file)}}"  title="{{file.name}}" >
                                    <mat-card-content>
                                      <p class="cut-text">
                                        <a href="{{file.src}}" target="_blank">{{getImageName(file.name)}}</a>
                                      </p>
                                    </mat-card-content>
                                  </mat-card>
                            </div>
                        <!-- </div> -->

                    </mat-list-option>
                  </mat-selection-list>
                    </div>
                </form>
                    </div>
                   
                </div>
            </mdb-card-text>
        </mdb-card-body>
    </mdb-card>
</div>
<app-dialog-confirmer (estConfirmer)="confirmerSoummission($event)" 
[description]="'fichier.msg_confirm' | translate"
[confirmText]="'examen.confirm_text' | translate"></app-dialog-confirmer>
<ngx-spinner>
    <p class="loading">Loading Awesomeness...</p>
  </ngx-spinner>