
        <mat-dialog-content>
          <h5>Facture</h5>
<!-- pdf facture -->
<div id="1pdf" style="min-width: 500px;width:auto;height: 792px;padding: 30px 20px;font-weight: 500;">
  <table class="" style="margin-bottom:50px">
    <tr>
      <td width="20%">
        <div class="" style="padding:20px 20px 0 20px">
          <img style="width:150px" src="assets/logo_pconduite.jpg" alt="logo" />
      </div>
      </td>
      <td width="50%" align="center">
        <div class="" style="padding-top:20px;font-size: 12px !important">
          <h6>{{data.ecole.raison_social}} {{data.ecole.nom}}</h6>
          <span *ngIf="ecole.adresse">{{data.ecole.adresse.numero}}
              <span *ngIf="data.ecole.adresse">, {{data.ecole.adresse.rue}}</span>
              <span *ngIf="data.ecole.adresse">, #{{data.ecole.adresse.appartement}}</span>
              <span *ngIf="data.ecole.adresse">, {{data.ecole.adresse.code_postal}}</span>
              <span *ngIf="data.ecole.adresse">, {{data.ecole.adresse.municipalite}}, {{data.ecole.adresse.province}}</span>
          </span>
          <br/>
          <span><i class="fas fa-phone"></i> : 438-387-6644 </span>
        </div>
      </td>
      <td align="center">
        <div style="padding-top:20px">
          <h4>Facture</h4>

      </div>
      </td>
    </tr>
  </table><!--end-->
<table class="" style="margin-bottom:50px;font-size: 12px !important">
  <tr>
    <td width="30%" align="left">
        <h6>Facturé à</h6>
      <span>{{data.eleve.nom}} {{data.eleve.prenom}}</span><br/>
      <span *ngIf="data.eleve.adresse">{{data.eleve.adresse.numero}}
          <span *ngIf="data.eleve.adresse">, {{data.eleve.adresse.rue}}</span>
          <span *ngIf="data.eleve.adresse">, #{{data.eleve.adresse.appartement}}</span>
          <span *ngIf="data.eleve.adresse">, {{data.eleve.adresse.code_postal}}</span>
          <span *ngIf="data.eleve.adresse">, {{data.eleve.adresse.municipalite}}, {{data.eleve.adresse.province}}</span>
      </span>
      <br/>
      <span *ngIf="data.eleve.coordonnee" ><i class="fas fa-phone"></i> : {{data.eleve.coordonnee.telephone}}</span>
    </td>
    <td align="right">
        <span>No de facture : </span><br/>
        <span>Date :</span> <br/>
        <span>Coût de la formation :</span><br/>
        <span *ngIf="data.totalPaye">Total payé :</span><br/>
    </td>
    <td align="left">
        <span>{{dateDuJour|date:'hhmmss'}}</span><br/>
        <span>{{dateDuJour|date:'yyyy-MM-dd'}}</span><br/>
      <span>{{data.eleve.frais_inscription | currency}}</span><br/>
      <span *ngIf="data.totalPaye">{{data.totalPaye | currency}}</span><br/>
    </td>
  </tr>
</table><!--end-->

  <div class="">
  <table border="1" width="100%" style="font-size: 12px !important">
    <tr>
    <th style="text-align:center">Type de payement</th><th style="text-align:center">Date payement</th><th width="100px" style="text-align:right;padding-right: 10px">Montant</th>
  </tr>
  <tr  *ngFor="let payementPDF of data.payementsPDF"><td align="center">{{payementPDF.type}}</td><td align="center">{{payementPDF.date_payement}}</td><td style="text-align:right;padding-right: 10px">{{obtenirMontantHorsTaxes(payementPDF)|currency}}</td></tr>
  <tr><td colspan="2" align="right" style="border-color:transparent">Sous Total : </td><td style="border-color:transparent;text-align:right;padding-right: 10px">{{obtenirTotalHorsTaxes()|currency}}</td></tr>
  <tr><td  colspan="2" align="right" style="border-color:transparent">TVQ (no. 1224768920 TQ0001) :</td><td style="border-color:transparent;text-align:right;padding-right: 10px">{{obtenirTVQ()|currency}}</td></tr>
  <tr><td  colspan="2" align="right" style="border-color:transparent">TPS (no. 7052 7727 RT0001) :</td><td style="border-color:transparent;text-align:right;padding-right: 10px" >{{obtenirTPS()|currency}}</td></tr>
  <tr><td  colspan="2" align="right" style="border-color:transparent"> Total : </td><td style="border-color:transparent;text-align:right;padding-right: 10px">{{obtenirTotalAvecTaxes()|currency}}</td></tr>
  </table>
</div>
</div>
        </mat-dialog-content>
<!-- fin pdf -->

<mat-dialog-actions >
  <div class="row">
    <div class="col col-lg-12 push-right">
  <button type="button" class="btn bg-color-green" (click)="imprimerOuEnvoyer()" style="margin-right:10px;">
       Envoyer par courriel
      </button>
  <button type="button" class="btn bg-color-green" (click)="imprimer()" style="margin-right:10px;">Imprimer</button>
  <button type="button" class="btn btn-secondary" (click)="annuler()">Annuler</button>
    </div>
  </div>
</mat-dialog-actions>
