 
 <mdb-card>
    <mdb-card-header><h3>{{action}} - {{'titre.eleve' | translate}}</h3></mdb-card-header>
    <mdb-card-body>
      <mdb-card-text>
 <div class="row">
   <div class="col col-12">
      <label class="">{{'label.nom' | translate}} et {{'label.prenom' | translate}}</label>
   </div>
 <div class="md-form input-group col col-12 none-border-top">
  <input type="text" aria-label="Nom" [(ngModel)]="eleveModele.nom" class="form-control" placeholder="nom">
  <input type="text" aria-label="Prenom" [(ngModel)]="eleveModele.prenom" class="form-control" placeholder="prenom">
</div>
</div>
<div class="row">
    <div class="col col-12">
        <label class="">{{'label.adresse' | translate}} ({{'label.numero_rue_app' | translate}})</label>
     </div>
    <div class="md-form input-group col col-12  none-border-top">
        <input type="text" aria-label="Numero" [(ngModel)]="eleveModele.adresse.numero" class="form-control col-3" placeholder="numero">
        <input type="text" aria-label="Rue" [(ngModel)]="eleveModele.adresse.rue" class="form-control col-6" placeholder="rue">
        <input type="text" aria-label="App" [(ngModel)]="eleveModele.adresse.appartement" class="form-control col-3" placeholder="app">
      </div>
</div>
<div class="row">
  <div class="md-form col col-4  none-border-top">
      <label for="municipalite">{{'label.municipalite' | translate}}</label>
      <input type="text" aria-label="Municipalite" [(ngModel)]="eleveModele.adresse.municipalite" class="form-control" placeholder="municipalite">
  </div>
  <div class="md-form col col-4">
      <label for="province">{{'label.province' | translate}}</label>
      <select class="browser-default custom-select" [(ngModel)]="eleveModele.adresse.province">
        <option selected>{{'label.selectionner' | translate}}</option>
        <option *ngFor="let province of listeProvinces" [value]="province.value">{{province.label}}</option>
    </select>
  </div>
  <div class="md-form col col-4  none-border-top">
      <label for="codePostal">{{'label.code_postal' | translate}}</label>
      <input type="text" aria-label="Code postal" [(ngModel)]="eleveModele.adresse.code_postal" class="form-control" placeholder="champ code postal">
  </div>
</div>
<div class="row">
    <div class="md-form col col-4  none-border-top">
        <label for="numero">{{'label.numero_contrat' | translate}}</label>
      <input type="text" aria-label="" [(ngModel)]="eleveModele.numero_contrat" class="form-control" placeholder="champ numero contrat">
    </div>
    <div class="md-form col col-4  none-border-top">
        <label for="telephone">{{'label.telephone' | translate}}</label>
        <input type="text" aria-label="" [(ngModel)]="eleveModele.coordonnee.telephone" class="form-control" placeholder="champ telephone">
    </div>
    <div class="md-form col col-4  none-border-top">
        <label for="telephoneAutre">{{'label.telephone_autre' | translate}}</label>
        <input type="text" aria-label="" [(ngModel)]="eleveModele.coordonnee.telephone_autre" class="form-control" placeholder="champ telephone autre">
    </div>
</div>
<div class="row">
    <div class="md-form col col-4  none-border-top">
        <label for="numero">Date de naissance</label>
      <!-- <input type="text" aria-label="" [(ngModel)]="eleveModele.date_naissance" class="form-control" placeholder="date de naissance"> -->
      <div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" pattern="0000-00-00"
                   name="dateNaissance" [(ngModel)]="eleveModele.date_naissance" ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                  <i class="far fa-calendar-alt"></i>
              </button>
            </div>
          </div>
        </div>
    </div>
    <div class="md-form col col-4  none-border-top">
        <label for="telephone">Email</label>
        <input type="text" aria-label="" [(ngModel)]="eleveModele.email" class="form-control" placeholder="email">
    </div>
    <div class="md-form col col-4  none-border-top">
        <label for="telephoneAutre">Date d'inscription</label>
        <!-- <input type="text" aria-label="" [(ngModel)]="eleveModele.date_inscription" class="form-control" placeholder="date d'inscription"> -->
        <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" pattern="0000-00-00"
                     name="dateInscription" [(ngModel)]="eleveModele.date_inscription" ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                    <i class="far fa-calendar-alt"></i>
                </button>
              </div>
            </div>
          </div>
      </div>
</div>
</mdb-card-text>
</mdb-card-body>
<mdb-card-footer class="text-muted">
<div class="row">
  <div class="col col-12" style="text-align:right">
      <button type="button" 
      class="btn bg-color-green"
       (click)="enregistrer()"
       style="margin-right:10px;">
          <i class="fas fa-save"></i>&nbsp;{{'label.enregistrer' | translate}}
        </button>
      <button type="button" class="btn btn-secondary" (click)="fermer()">
        <i class="fas fa-ban"></i>&nbsp;{{'label.fermer' | translate}}</button>
  </div>
</div>
</mdb-card-footer>
</mdb-card>
  