<table class="w-100 margin-bottom">
  <tr>
    <th colspan="4" class="contrat-title-header border-bottom">
      1 - RENSEIGNEMENTS PERSONNELS / PERSONAL INFORMATION 
    </th>
  </tr>
    <tr class="no-border-top">
      <td colspan="2" class="no-border-right no-border-bottom">Nom / <em>Last Name</em>: {{eleve.nom}} </td>
      <td colspan="2" class="no-border-left no-border-bottom">Prénom / <em>Name</em> : {{eleve.prenom}}</td>
    </tr>
    <tr>
        <td colspan="4"  class="no-bottom h-s"> </td>
      </tr>
    <tr class="no-border-top border-bottom">
        <td>Adresse /<em>Address</em> : {{eleve.adresse.numero}}, {{eleve.adresse.rue}} </td>
        <td>{{eleve.adresse.appartement}}</td>
        <td>{{eleve.adresse.municipalite}}</td>
        <td>{{eleve.adresse.code_postal}}</td>
      </tr>
      <tr>
          <td align="center" class="no-bottom no-border-right">Rue /<em>Street</em> </td>
          <td class="no-bottom no-border-right no-border-left">No App. /<em>Apt No.</em></td>
          <td class="no-bottom no-border-right no-border-left">Ville /<em>City</em></td>
          <td align="center" class="no-bottom no-border-left">Code postal /<em>Postal code</em></td>
        </tr>
        <tr class="border-bottom">
            <td >Tél. domicile / <em>Phone number (home) </em>: {{eleve.coordonnee.telephone}}</td>
            <td colspan="3">Tél. professionnel  / <em>Phone number (work)</em> : {{eleve.coordonnee.telephone_autre}}</td>
          </tr>
          <tr>
              <td colspan="4"  class="no-bottom h-s"> </td>
            </tr>
          <tr class="border-bottom">
              <td >Date de naissance / <em>Date of birth </em>: {{eleve.date_naissance | date:'dd/MM/yyyy'}}</td>
              <td colspan="3"> No Permis d’apprenti / <em>Learner’s licence no.</em> : {{eleve.numero_permis}} </td>
            </tr>
            <tr>
                <td align="center" class="no-bottom no-border-right">(JJ/MM/AAAA) /  <em>(MM/DD/ YYYY)</em> </td>
                <td colspan="3" class="no-bottom no-border-left"></td>
              </tr>
              <tr>
                  <td colspan="4"  class="no-bottom h-s"> </td>
                </tr>
            <tr class="border-bottom">
                <td colspan="4"> Adresse électronique /  <em>Email address </em> : {{eleve.email}}</td>
              </tr>
  </table>
