<table border="1" class="w-100">
  <tr>
    <th colspan="4" class="contrat-title-header">
      1 - RENSEIGNEMENTS PERSONNELS / PERSONAL INFORMATION 
    </th>
  </tr>
    <tr>
      <td colspan="2">Nom / <em>Last Name</em>: </td>
      <td colspan="2">Prénom / <em>Name</em> : </td>
    </tr>
    <tr>
        <td colspan="4"  class="no-bottom h-s"> </td>
      </tr>
    <tr>
        <td>Adresse /<em>Address</em> : </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
          <td align="center" class="no-bottom no-border-right">Rue /<em>Street</em> </td>
          <td class="no-bottom no-border-right">No App. /<em>Apt No.</em></td>
          <td class="no-bottom no-border-right">Ville /<em>City</em></td>
          <td align="center" class="no-bottom">Code postal /<em>Postal code</em></td>
        </tr>
        <tr>
            <td >Tél. domicile / <em>Phone number (home) </em>: </td>
            <td colspan="3">Tél. professionnel  / <em>Phone number (work)</em> : </td>
          </tr>
          <tr>
              <td colspan="4"  class="no-bottom h-s"> </td>
            </tr>
          <tr>
              <td >Date de naissance / <em>Date of birth </em>: </td>
              <td colspan="3"> No Permis d’apprenti / <em>Learner’s licence no.</em> : </td>
            </tr>
            <tr>
                <td align="center" class="no-bottom no-border-right">(JJ/MM/AAAA) /  <em>(MM/DD/ YYYY)</em> </td>
                <td colspan="3" class="no-bottom"></td>
              </tr>
              <tr>
                  <td colspan="4"  class="no-bottom h-s"> </td>
                </tr>
            <tr>
                <td colspan="4"> Adresse électronique /  <em>Email address </em> : </td>
              </tr>
  </table>
