<!-- <style>
  td{
    font-size: 12px !important;
  }
  .w-100{
    width: 100% !important;
  }
    .h-row{
      height: 15px !important;
    }
    .no-bottom{
      border-bottom-color: transparent !important;
    }
  </style> -->
<table border="1" class="w-100">
  <tr>
    <td class="no-bottom"><strong>Nom de l’école de conduite / <em>Name of the driving school</em> : </strong></td>
  </tr>
  <tr>
    <td class="h-row"></td>
  </tr>
  <tr>
    <td  class="no-bottom">No certificat | <em>Certificate no</em>. </td>
  </tr>
  <tr>
    <td class="h-row"></td>
  </tr>
  <tr>
    <td  class="no-bottom">Adresse / <em>Address</em> </td>
  </tr>
  <tr>
    <td class="h-row"></td>
  </tr>
  <tr>
    <td  class="no-bottom">Ville / <em>City</em> </td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td>Code postal /<em> Postal code</em> </td>
  </tr>
</table>