td{
    text-align: center;
    padding: 10px 5px;
}

td{
    border-left: 1px solid #a8a4a4;
    border-right: 1px solid #a8a4a4;
    border-bottom: 1px solid black;
}

input{
    width: 16px;
    height: 16px;
}