<mdb-card>
  <mdb-card-header> 
    <div class="row">
      <div style="text-align: center;width: 100%;"><h3>{{'reservation.liste' | translate}}</h3></div>
    </div>
   </mdb-card-header>
  <mdb-card-body>
    <mdb-card-text>
<div class="row">
  <div class="col col-lg">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="nom_module">
        <th class="bg-color-green" mat-header-cell *matHeaderCellDef mat-sort-header>{{'reservation.sortie' | translate}} </th>
        <td mat-cell *matCellDef="let row"> {{session(row.nom_module)}} </td>
      </ng-container>
  
      <!-- Progress Column -->
      <ng-container matColumnDef="date">
        <th class="bg-color-green" mat-header-cell *matHeaderCellDef mat-sort-header> {{'reservation.date' | translate}} </th>
        <td mat-cell *matCellDef="let row"> {{row.date}} </td>
      </ng-container>
      
      <!-- Progress Column -->
      <ng-container matColumnDef="heure_debut">
        <th class="bg-color-green" mat-header-cell *matHeaderCellDef> {{'reservation.debut' | translate}} </th>
        <td mat-cell *matCellDef="let row" style="text-align: left;"> {{getHeure(row.heure_debut)}}</td>
      </ng-container>
      <ng-container matColumnDef="heure_fin">
        <th class="bg-color-green" mat-header-cell *matHeaderCellDef> {{'reservation.fin' | translate}} </th>
        <td mat-cell *matCellDef="let row" style="text-align: left;"> {{getHeure(row.heure_fin)}}</td>
      </ng-container>
      <!-- Progress Column -->
      <ng-container matColumnDef="id">
        <th  class="bg-color-green" width="100" mat-header-cell *matHeaderCellDef> {{'reservation.action' | translate}} </th>
        <td mat-cell *matCellDef="let row"> 
          <div *ngIf="isHistoric(row.date)" class="dropdown col col-4" style="text-align:right">
            <button type="button" class="btn bg-color-green dropdown-toggle" data-toggle="dropdown">
              <i class="fas fa-list"></i>
            </button>
            <div class="dropdown-menu row">
              
           <div class="col col-12 size-30 form-align-h">

           
          <span style="padding: 3px 5px;" title="Supprimer/Delete" class="btn dropdown-item bg-color-green" (click)="editer(row.id)" style="margin-right:10px">
              <i class="fas fa-trash-alt"></i>
          </span>
       
        </div>
        </div>
      </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="headElements"></tr>
      <tr mat-row *matRowDef="let row; columns: headElements;">
      </tr>
    </table>
  
    <mat-paginator #paginator  [pageSize]="pageSize" [pageSizeOptions]="[5,10,20]"></mat-paginator>
  </div>
</div>
    </mdb-card-text>
  </mdb-card-body>
</mdb-card>