<table class="w-100">
    <tr>
      <td class="no-bottom border-top"><strong>Terrain moto / <em> Closed track </em> : </strong></td>
    </tr>
    <tr>
      <td class="h-row border-bottom"></td>
    </tr>
    <tr>
      <td  class="no-bottom">Adresse / <em>Address</em> </td>
    </tr>
    <tr>
      <td class="h-row border-bottom"></td>
    </tr>
    <tr>
      <td  class="no-bottom">Ville / <em>City</em> </td>
    </tr>
    <tr>
      <td class="border-bottom"></td>
    </tr>
    <tr>
      <td class="border-bottom">Code postal /<em> Postal code</em> </td>
    </tr>
  </table>