<mdb-card>
    <mdb-card-header><h3>Total payements</h3></mdb-card-header>
    <mdb-card-body>
      <mdb-card-text>
       
<form #formulaire="ngForm">
  <div class="row">
      <div class="col col-3  none-border-top form-align-v">
          <label for="datePayement" class="requis">Date de début</label>
                <mat-form-field floatLabel="never">
                    <input matInput  [matDatepicker]="pickerDD"
                    name="dateDebut" [(ngModel)]="dateDebut"
                     placeholder="yyyy-mm-dd" required>
                    <mat-datepicker-toggle matSuffix [for]="pickerDD"></mat-datepicker-toggle>
                    <mat-datepicker #pickerDD></mat-datepicker>
                  </mat-form-field>
      </div>
      <div class="col col-3  none-border-top form-align-v">
          <label for="datePayement" class="requis">Date de Fin</label>
                <mat-form-field floatLabel="never">
                    <input matInput  [matDatepicker]="picker" [min]="dateDebut" [disabled]="!dateDebut"
                    name="dateFin" [(ngModel)]="dateFin"
                     placeholder="yyyy-mm-dd" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
      </div>
      <div class="col col-3 el-align-centre">
          <button type="button" 
          class="btn bg-color-green size-btn-m"
           (click)="enregistrer()"
           style="margin-right:10px;" [disabled]="!formulaire.valid">
              <i class="fas fa-save"></i>&nbsp;Rechercher
            </button>
      </div>
  </div>
</form>
<table width="100%" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
<!-- Cost Column -->
<ng-container matColumnDef="dateDebut">
    <th mat-header-cell *matHeaderCellDef> Date de début </th>
    <td mat-cell *matCellDef="let transaction"> {{dateDebut | date:'yyyy-MM-dd'}} </td>
    <!-- <td mat-footer-cell *matFooterCellDef> </td> -->
  </ng-container>
  <ng-container matColumnDef="dateFin">
      <th mat-header-cell *matHeaderCellDef> Date de fin </th>
      <td mat-cell *matCellDef="let transaction"> {{dateFin | date:'yyyy-MM-dd'}} </td>
      <!-- <td mat-footer-cell *matFooterCellDef> </td> -->
    </ng-container>
  <!-- Cost Column -->
  <ng-container matColumnDef="montant">
    <th mat-header-cell *matHeaderCellDef align="center"> Montant total par type de payement </th>
    <td mat-cell *matCellDef="let transaction" align="center"> 
      <table width="50%">
        <tr *ngFor="let m of transaction?.montant">
          <td align="right">{{m.type}} :</td>
          <td align="right">{{m.montant | currency}}</td>
        </tr>
        <tr><td align="right">Total :</td><td align="right">{{getTotalCost(transaction?.montant) | currency}} </td></tr>
      </table>
      
    </td>
    <!-- <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td> -->
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <!-- <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr> -->
</table>
</mdb-card-text>
</mdb-card-body>
</mdb-card>
<ngx-spinner>
    <p class="loading">Loading Awesomeness...</p>
  </ngx-spinner>