<div>
<mdb-card>
  <mdb-card-header> 
    <div class="row">
      <div style="text-align: center;width: 100%;"><h3>{{'reservation.titre' | translate}}</h3></div>
    </div>
   </mdb-card-header>
  <mdb-card-body>
    <mdb-card-text>
<form #formulaire="ngForm">
  <div class="row">
    <div class="col col-lg-3">
      <mat-form-field>
        <mat-label>{{'eleve.langue' | translate}}</mat-label>
        <select matNativeControl  name="langue" [(ngModel)]="lang" (change)="setLanguage()">
      <option *ngFor="let language of languages" [value]="language.value">{{language.label}}</option>
        </select>
      </mat-form-field>
    </div>
  </div>
<div class="row">
  <div class="col col-lg-3">
    <mat-form-field appearance="fill">
      <mat-label>{{'module.sortie' | translate }}</mat-label>
    <select matNativeControl
    name="module"
    aria-label="{{'module.sortie' | translate }}"
     [(ngModel)]="eventDriving.module_id" (change)="onModulesChange($event)"
     placeholder="date completee" required>
        <option  value="0">{{'label.selectionner' | translate}}</option>
        <ng-template ngFor let-module [ngForOf]="listeModules" let-i="index">
            <option [value]="module.id" [ngClass]="{'active-s':!(getSortie(module.numero))}"
            [disabled]="module.numero == 23 || module.numero==24 || getSortie(module.numero)"
            >{{session(module.nom)}}</option>
        </ng-template>
      </select>
      </mat-form-field>
</div>
  <div class="col col-lg-3">
    <mat-form-field  appearance="fill">
      <mat-label>{{'reservation.date' | translate }}</mat-label>
      <input readonly matInput [matDatepicker]="picker" (dateChange)="onDateChange($event)" [matDatepickerFilter]="weekendsDatesFilter" name="date"
       [(ngModel)]="eventDriving.date" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="col col-lg-3">
    <mat-form-field class="w-time" appearance="fill" >
      <mat-label>{{'reservation.debut' | translate }}</mat-label>
      <select matNativeControl [(ngModel)]="eventDriving.heure_debut" name="startTime" (change)="onTimeChange($event)" required>
        <ng-template ngFor let-time [ngForOf]="times" let-i="index">
          <option [value]="time.value">{{time.label}}</option>
      </ng-template>
      </select>
    </mat-form-field>
    <mat-form-field class="w-time" appearance="fill" >
      <mat-label>{{'reservation.fin' | translate }}</mat-label>
      <select matNativeControl [(ngModel)]="eventDriving.heure_fin" name="endTime" aria-readonly="true">
        <ng-template ngFor let-time [ngForOf]="timesEnd" let-i="index">
          <option [value]="time.value" disabled>{{time.label}}</option>
      </ng-template>
      </select>
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col col-lg-12">
    <h6 style="background-color: black;padding: 2px 3px;color: yellow;">{{'reservation.warning' | translate}}  <i class="fas fa-exclamation-triangle"></i></h6>
      
    <textarea [innerHTML]="'reservation.warning_text' | translate" name="" id=""  rows="3" 
    style="width: 100%;background: #ccc;
    padding: 10px 12px; margin-bottom: 10px;" readonly>
    
    </textarea>
    <mat-checkbox (change)="toggleCondition($event)">{{'reservation.condition' | translate}}</mat-checkbox>
  </div>
</div>
</form>
    </mdb-card-text>
  </mdb-card-body>
  <mdb-card-footer class="text-muted">
    <div class="row">
    <div class="col col-lg-12" style="text-align:right">
        <button type="button" 
        class="btn bg-color-green"
         (click)="enregistrer()"
         style="margin-right:10px;" [disabled]="!formulaire.valid || !eventDriving.condition">
            <i class="fas fa-save"></i>&nbsp;{{'label.enregistrer' | translate}}
          </button>
        <button type="button" class="btn btn-secondary" (click)="fermer()">
          <i class="fas fa-ban"></i>&nbsp;{{'label.fermer' | translate}}</button>
    </div>
    </div>
    </mdb-card-footer>
</mdb-card>
<app-list-reservation (deleteEvent)="confirmDeleteEvent($event)" 
[evenementEleve]="events" [lang]="lang"></app-list-reservation>
<app-detail-phase [idEleve]="idEleve"></app-detail-phase>
<app-balance-paie [totalPaye]="totalPaye" [total]="total"></app-balance-paie>
</div>
<ngx-spinner>
  <p class="loading">Loading Awesomeness...</p>
</ngx-spinner>