.mat-form-field{
    width: 100%;
}
.w-time{
    width: 50%;
}
.w-place{
    width: 55px;
    background-color: #28a745;
    color: white;
    font-weight: bold;
}
.mr{
margin-right: 10PX;
}
.h-1{
    height: 5px;
}
.active-s,.active-s:active{
    background-color:  #28a745 !important;
    color: white !important;
    cursor: pointer;
}
button.example-custom-date-class {
    background: #28a745;
    border-radius: 100%;
  }