<!-- Modal -->
<div class="modal fade" id="confirmerModal" tabindex="-1" role="dialog" aria-labelledby="confirmerModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmerModalLabel">Confirmer votre choix</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Voulez vous vraiment supprimer cet élève? 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bg-color-green" (click)="confirmer()" data-dismiss="modal">Confirmer</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>