.wd{
    position: relative;
    width: 14%;
    min-width: 100px;
    display: inline-table;
    border: 1px solid #ccc;
}
.event{
    padding: 1px 2px;
    margin: 1px;
    background-color: aqua;
    cursor: pointer;
}
.mr{
   margin-right: 10px;
}