<div *ngIf="lang == 'eng'"
    style="width: 100%;background: #ccc;
    padding: 10px 12px; margin-bottom: 10px; max-height: 400px; overflow-y: scroll;" >
    <h4 style="text-align: center;"> OUR TERMS AND CONDITIONS</h4>

    <p style="color: red;">The following terms and conditions define the basis upon which PCONDUITE is providing this training. Every student must be aware of these terms and conditions and accept them prior to take any lesson. Please read carefully. </p>
    <h5>Quebec driver’s handbook study guide</h5>
    <p style="color: red;">This book is mandatory for every student who wants to attend our program. It costs $ 50 non-refundable, and it is available at the driving school PCONDUITE. It is important to know that the price of the book is not included in the package.</p>
     <h5>Payment method </h5>
    <p style="color: red;">PCONDUITE accepts all types of payment: debit card, credit, cheque, e-transfer, or cash. Also, the school gives you the option to pay in six installments.</p>
    <h5>Scheduling appointments</h5>
    <p style="color: red;">Your appointment, your responsibility! In order to remind students of their appointment date, we sometimes, send you emails / and text reminders.  However, we cannot be held liable for a missed appointment.</p>
    <h5>Delay</h5>
    <p style="color: red;">The instructor can cancel the lesson if the student is late by more than 15 minutes. The amount of the course will be debited from the student's account</p>
    <h5>Appointment cancellation</h5>
    <p style="color: red;">Cancellation or report of a driving lesson by a student requires a 48-hour advance notice via online or by contacting the instructor/ the Driving School. Failure to do that, will result in getting charged the full price of the missed session, which is payable before the next scheduled driving lesson.  </p>
    <h5>Proof of attendance</h5>
    <p style="color: red;">Students must identify themselves by their first and last name for online courses. Also, they must sign the attendance sheet at the office after each In-class session or In-car Driving lesson. </p>
    <h5>Report or cancellation of lessons by PCONDUITE</h5>
    <p style="color: red;">PCOUDUITE reserves the right to postpone or cancel any In-Class Session or In-Car Driving Lessons. The instructor may cancel or re-schedule your on-road session due to illness, personal emergency, weather or road conditions, unexpected mechanical issues with the vehicle or any reasons beyond our control. Also, note that a student cannot take In-car Driving lesson if he doesn’t have a valid learner's licence and / or doesn’t have his learner's licence with him.</p>
    <h5>School driving transfer</h5>
    <p style="color: red;">It is possible to make a transfer from another Driving school.  However, If the student has previously started the Road Safety Education Program with another school and wants to join us, he/she must provide us with a certificate from his/her to get the credit of the courses in phase 1, 2, 3 or 4. The amount to be paid will be determined according to the level where he/she stopped </p>
    <h5>Contract termination</h5>
    <p style="color: red;">A student can cancel his/her contract anytime and for any reason. Cancellation fees will be applied. The Driving School must reimburse the student for paid and uncompleted courses. However, if the student took the courses without paying the fees, he/she would have to reimburse before obtaining his/her certificate.</p>
    <h5>Contract expiration and deadline</h5>
    <p style="color: red;">The contract lasts 18 months. Normally, after 12 months of classes, the student is supposed to finish all his/her classes. If the program has not been completed within the 18 months of contract, the student will have to renew his contract to continue his courses. An amount of $ 120 will be required for the renewal and the price of the courses to be completed will be calculated according to the regular price in effect.</p>
    <h5>Course certificates</h5>
    <p style="color: red;">At the end of the program in phase 1 or in case of cancellation of the contract, PCONDUITE will provide you with a course certificate for free. 
    Be careful:  if you lose this certificate, you must pay $ 50 to get another one.
    I have read and understood the terms and conditions.</p>
    PCONDUITE
</div>
<div  *ngIf="lang == 'fr'"
style="width: 100%;background: #ccc;
padding: 10px 12px; margin-bottom: 10px; max-height: 400px; overflow-y: scroll;" >

<h4 style="text-align: center;"> NOS TERMES ET CONDITIONS</h4>
<p style="color: red;">Ces termes et conditions ci-dessous définissent le mode de fonctionnement de notre auto-école PCONDUITE. Tout élève doit en prendre connaissance ensuite les accepter avant de commencer les cours.  Veuillez lire attentivement.
.</p>
<h5>Manuel d’apprentissage.</h5>
<p style="color: red;">
Le livre est obligatoire et Il est en vente à l’école de conduite. Il coûte 50$ non remboursable.  Son prix n’est pas inclus dans le forfait. 
.</p>
<h5>Types et fréquence de paiement. </h5>
<p style="color: red;">
PCONDUITE accepte tous les types de paiement : carte débit, crédit, chèque, virement interac ou comptant. L’école vous donne aussi la possibilité de payer en six tranches . 
.</p>
<h5>Prise de rendez-vous</h5>
<p style="color: red;">
Votre rendez-vous, votre responsabilité! En guise de rappel, il nous arrive parfois, d’envoyer des courriels ou des messages textes aux élèves. Cependant, en aucun cas, nous ne pouvons pas être tenus responsables d’un rendez-vous oublié.
.</p>
<h5>Retard </h5>
<p style="color: red;">
Le moniteur peut annuler le cours si l’élève est en retard de plus de 15 minutes.  Le montant du cours sera débité du compte de l’élève. 
.</p>
<h5>Annulation de rendez-vous</h5>
<p style="color: red;">
Pour annuler ou reporter un cours pratique, l’élève peut le faire en ligne ou communiquer avec nous, au moins dans un délai de 48 heures à l’avance. Au-delà de ce délai, des frais équivalant le coût du cours s’appliqueront et devront être honorés avant la prochaine séance.
.</p>
<h5>Acte de présence</h5>
<p style="color: red;">
L’élève doit s’identifier par son prénom et nom pour les cours en ligne et s’assurer de signer la feuille de présence après chaque cours pratique et théorique si ce dernier a été fait en présentiel. 
 
.</p>
<h5>Report ou annulation de cours par PCONDUITE</h5>
<p style="color: red;">
PCONDUITE se réserve le droit d’annuler ou changer la date d’un cours sans préavis en cas de situations exceptionnelles liées à la météo, à une maladie, à un problème technique au niveau du véhicule ou toute autre raison indépendante de notre volonté. Aussi faut-il souligner que l’élève ne peut pas faire de sortie pratique s’il ne possède pas un permis d’apprenti conducteur valide et/ou n’a pas sur lui son permis d’apprenti conducteur. 


.</p>
<h5>Transfert d’établissement</h5>
<p style="color: red;">
Si l'élève a, au préalable, débuté le Programme d’éducation à la sécurité routière avec une autre école, et qu’il (ou elle) souhaiterait nous rejoindre, une attestation de cours de son ancienne école lui serait demandée s’il (ou elle) veut qu’on lui crédite des cours de la phase 2,3 ou 4.
Le montant à payer sera déterminé en fonction du nombre de cours à compléter.  
.</p>
<h5>Résiliation de contrat</h5>
<p style="color: red;">
L'élève peut annuler son contrat à tout moment et ceci pour n’importe quelle raison. Des frais d’annulation seront appliqués.
L’École doit rembourser à l'élève les cours payés et non complétés. Cependant, si l'élève a fait des cours sans pour autant s'acquitter des frais, il/elle devra rembourser avant d’obtenir son attestation.
.</p>
<h5>Échéance et date limite contrat</h5>
<p style="color: red;">
Le contrat dure 18 mois. Normalement, après 12 mois de cours, l'élève est censé finir tous ses cours. Si après 18 mois de contrat le programme n’est toujours pas complété, l’élève doit renouveler son contrat pour poursuivre ses cours. Un montant de 120$ sera exigé pour le renouvellement et le prix des cours à compléter sera calculé en fonction du prix régulier en vigueur.</p>
<h5>Attestations de cours</h5>
<p style="color: red;">
Après la phase 1 et à la fin du programme ou en cas d’annulation du contrat, l’école vous fournira une attestation de cours gratuitement.
Attention : si vous perdez cette attestation, vous devez payer 50$ pour avoir un duplicata.
Lu et approuvé</p>
PCONDUITE

</div>