td{
  font-size: 12px !important;
}
.w-100{
  width: 100% !important;
}
.w-50{
  width: 45% !important; 
}
.c-padding-right{
  padding-right: 15px;
}
.c-padding-left{
  padding-left: 15px;
}
.h-row{
  height: 15px !important;
}
.h-s{
  height: 5px !important;  
}
.no-bottom{
  border-bottom-color: transparent !important;
}
.row-spacing{
  border-collapse:separate; 
  border-spacing:0 15px; 
}
.no-border-right{
  border-right-color: transparent !important;
}
.contrat-title-header{
  background-color: #cccccc;
  padding: 0 15px;
}