<table class="w-100 margin-bottom">
  <tr>
    <th colspan="4" class="contrat-title-header">
      4 - MODALITÉS DE PAIEMENT / <em>PAYMENT TERMS </em>  
    </th>
    <!-- <th colspan="2" class="no-border">
      <app-numero-contrat [numero]="numeroContrat"></app-numero-contrat>
    </th> -->
  </tr>
<tr>
  <td colspan="4" [innerHTML]="modalitePayementUn | safeHtml" class="no-bottom-space"></td>
</tr>
<tr>
  <td colspan="4">
    <table class="w-100">
      <tr>
        <td class="no-border">Début du contrat - date du 1er  cours / <em>Beginning of contract – Date of first course</em> :</td>
        <td class="no-border border-bottom"><span *ngIf="dateDebut">{{dateDebut | date:'dd-MM-yyyy'}}</span></td>
      </tr>
      <tr>
          <td class="no-border"></td>
          <td class="no-border">(JJ/MM/AAAA) / <em>(MM/DD/ YYYY)</em> </td>
        </tr>
    </table>
    <table class="w-100">
        <tr>
          <td class="no-border">Fin du contrat / <em>End of contract</em> :</td>
          <td class="no-border border-bottom"><span *ngIf="dateDebut">{{dateFin | date:'dd-MM-yyyy'}}</span></td>
        </tr>
        <tr>
            <td class="no-border"></td>
            <td class="no-border">(JJ/MM/AAAA) / <em>(MM/DD/ YYYY)</em> </td>
          </tr>
      </table>
  </td>
</tr>
<tr>
  <td colspan="4" [innerHTML]="modalitePayementDeux | safeHtml" class="no-bottom-space"></td>
</tr>
<tr>
  <td colspan="2">
    <app-date-versement [noFR]="'1er'" [noENG]="'1st'" [versement]="versement[0]" [dFR]="'Début du contrat'" [dENG]="'At the beginning'" ></app-date-versement>
    <app-date-versement [noFR]="'2eme'" [noENG]="'2nd'" [versement]="versement[1]" [dFR]="'Au module 5'" [dENG]="'At module 5'"></app-date-versement>
    <app-date-versement [noFR]="'3eme'" [noENG]="'3rd'" [versement]="versement[2]"  [dFR]="'À la sortie 1'" [dENG]="'At in-car session 1'"></app-date-versement>
    <app-date-versement [noFR]="'4eme'" [noENG]="'4th'" [versement]="versement[3]"  [dFR]="'À la sortie 5'" [dENG]="'At in-car session 5'"></app-date-versement>
    <app-date-versement [noFR]="'5eme'" [noENG]="'5th'" [versement]="versement[4]" [dFR]="'À la sortie 9'" [dENG]="'At in-car session 9'"></app-date-versement>
    <app-date-versement [noFR]="'6eme'" [noENG]="'6th'" [versement]="versement[5]" [dFR]="'À la sortie 11'" [dENG]="'At in-car session 11'"></app-date-versement>
  </td>
  <td colspan="2" width="70%">
    <span>Les versements seront étalés comme suit:<br/>
      Premier versement totalisant 20% du coût total  du cours de conduite au début de la première phase.<br/> 
      Cinq autres versements égaux  étalés de la façon suivante :<br/>
      - un versement au début de chacune des phases 2, 3 et 4;<br/>
      - un versement après que l’élève ait complété 50% des apprentissages de la phase 3;<br/>
      - un versement après que l’élève ait complété 50% des apprentissages de la phase 4;<br/>
/
      The total payment will be split  as follows:<br/>
      First payment totaling 20% of the total cost of the driving course at the start of the first phase.<br/>
      Five other equal installments split as follows:<br/>
      - a payment at the beginning of each of phases 2, 3 and 4;<br/>
      - a payment after the student has completed 50% of the learning in phase 3;<br/>
      - a payment after the student has completed 50% of the learning in phase 4;</span>
  </td>
</tr>
<tr>
  <td colspan="4"  [innerHTML]="modalitePayementTrois | safeHtml" class="no-bottom-space border-bottom"></td>
</tr>
</table>