<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{'titre.ajout_module' | translate}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <form #formulaire="ngForm">
              <div class="row">
                <div class="col col-6 none-border-top form-align-v">
                    <label for="telephone">Enseignant/Teacher</label>
                    <mat-form-field>
                    <select matNativeControl
                    name="moniteur"
                    aria-label="Enseignant/Teacher"
                     [(ngModel)]="moduleModel.id_moniteur" 
                     placeholder="Enseignant/Teacher">
                        <option  value="0">{{'label.selectionner' | translate}}</option>
                        <ng-template ngFor let-moniteur [ngForOf]="moniteurs" let-i="index">
                            <option [value]="moniteur.id">{{moniteur.prenom}} {{moniteur.nom}} ({{moniteur.numero}})</option>
                        </ng-template>
                      </select>
                      </mat-form-field>
                </div>
              </div>
          <div class="row">
              <div class="col col-6 none-border-top form-align-v">
                  <label for="telephone">{{'module.nom' | translate }}</label>
                  <mat-form-field>
                  <select matNativeControl
                  name="module"
                  aria-label="{{'module.nom' | translate }}"
                   [(ngModel)]="moduleModel.id_module" 
                   placeholder="date completee" required>
                      <option  value="0">{{'label.selectionner' | translate}}</option>
                      <ng-template ngFor let-module [ngForOf]="listeModules" let-i="index">
                          <option [value]="module.id">{{module.nom}}</option>
                      </ng-template>
                    </select>
                    </mat-form-field>
              </div>
            <div class="col col-6  none-border-top form-align-v" style="z-index:1200;">
              <label for="numero">{{'module.date_complete' | translate}}</label>
              <mat-form-field floatLabel="never">
                <input matInput  [matDatepicker]="picker"
                name="dateCompletee" [(ngModel)]="moduleModel.date_complete"
                 placeholder="yyyy-mm-dd">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>  
      </div>
      <div class="col col-12 form-align-v  none-border-top">
          <mat-checkbox (change)='changeSansObjet(moduleModel.sans_objet)'  name="sansObjet" [(ngModel)]="moduleModel.sans_objet">Sans objet (S.O)</mat-checkbox>
      </div>
      <div class="md-form col col-12  none-border-top">
          <label for="module">{{'module.eleves' | translate}}</label>
          <ng-multiselect-dropdown
          name="eleves"
          #listEleve
          placeholder="{{'label.selectionner' | translate}}"
          [data]="listeEleves"
          [(ngModel)]="moduleModel.eleves"
          [settings]="dropdownSettings"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
        >
        </ng-multiselect-dropdown>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
    <div class="col col-12" style="text-align:right">
        <button  type="button"  class="btn bg-color-green" (click)="ajouter()" [disabled]="!formulaire.valid || !validerEleves()">
            <i class="fas fa-plus"></i>	&nbsp;{{'label.ajouter' | translate}}
          </button>
      <button type="button" class="btn btn-secondary"
         data-dismiss="modal"
         style="margin-left:10px"><i class="fas fa-ban"></i>	&nbsp;{{'label.fermer' | translate}}</button>
    
        
    </div>
  </div>
  </div>
  </div>
  </div>
  
