<div>
  <mdb-card>
    <mdb-card-header><h3>{{'access.titre_change' | translate}}</h3></mdb-card-header>
    <mdb-card-body>
      <mdb-card-text>
        <form #formulaire="ngForm">
          <div class="row">
            <div class="col col-lg-4">
              <mat-radio-group aria-label="Langue" name="langue" [(ngModel)] = "data.langue" required>
                <mat-radio-button name="langue" value="fr" style="margin-right: 10px;" (change)="radioChange($event)" checked><span>FR </span></mat-radio-button>
                <mat-radio-button name="langue" value="eng" (change)="radioChange($event)"><span>ENG </span></mat-radio-button>
              </mat-radio-group>
              </div>
              </div>
              <div class="row">
              <div class="col  col-lg-4">
                <mat-form-field>
                  <input matInput type="text" [disabled]="!isAskedCode" maxlength="50" name="idEleve" aria-label="Numero" [(ngModel)]="data.numero"  placeholder="{{'access.numero' | translate}}" required>
                </mat-form-field>
                </div>
                    <div class="col col-lg-4">
                      <mat-form-field>
                        <input matInput type="password" maxlength="50" name="pasewordn" aria-label="PasswordN" [(ngModel)]="data.password_new" [disabled]="!isAskedCode" placeholder="{{'access.password_new' | translate}}" required>
                      </mat-form-field>
                      </div>
                      <div class="col col-lg-4" *ngIf="!isAskedCode">
                        <mat-form-field>
                          <input matInput type="number" maxlength="6" name="code" aria-label="code"  [(ngModel)]="data.numeropwd"  placeholder="{{'access.numeropwd' | translate}}" required>
                        </mat-form-field>
                        <p>{{codeMessage}}</p>
                        </div>
                </div>

                <div class="row">
                  <div class="col col-lg-12 push-right">
                    <button type="button" *ngIf="isAskedCode"
        class="btn bg-color-green"
         (click)="askPwd()"
         style="margin-right:10px;" [disabled]="!isValidAskCode()">
            <i class="fas fa-save"></i>&nbsp;{{'access.btnAsk' | translate}}
          </button>
                    <button type="button" *ngIf="!isAskedCode"
        class="btn bg-color-green"
         (click)="changePwd()"
         style="margin-right:10px;" [disabled]="!formulaire.valid">
            <i class="fas fa-save"></i>&nbsp;{{'access.btnChange' | translate}}
          </button>
                  </div>
                </div>

        </form>
        <div class="row">
          <div class="col col-12">
            <a href="javascript:void(0);" (click)="loginEleve()">{{'access.seconnecter' | translate}}</a>
          </div>
        </div>
        </mdb-card-text>
        </mdb-card-body>
        </mdb-card>

</div>
<ngx-spinner>
  <p class="loading">Loading Awesomeness...</p>
</ngx-spinner>
