
<div class="row" style="margin-bottom:20px">
  <div class="col offset-3 col-4 none-border-top">
    <label>Numéro attestation</label>
    <input type="text" 
    [(ngModel)]="numeroAttestation" 
    class="form-control" 
    placeholder="numéro attestation"
    maxlength="8"
    minlength="8"
    >
  </div>
  <div class="col col-4">
    <button style="position:absolute; bottom:0px;" class="btn bg-color-green" (click)="ajouter()"><i class="fas fa-plus"></i>&nbsp;Ajouter</button>
  </div>
</div>

<div>
<app-attestation 
[idEleve]="idEleve" 
[events]="eventsSubject.asObservable()"
[attestation]="attestation"></app-attestation>
</div>