
  <td style="border-left:1px solid #000 !important;border-right:1px solid #000 !important;background-color: gray;">{{number[0]}}-</td>
  <td><input type="checkbox" name="q1a" class="q1" (click)="selectionner($event)"></td><td><input type="checkbox" name="q1b" class="q1" (click)="selectionner($event)"></td><td><input type="checkbox" name="q1c" class="q1" (click)="selectionner($event)"></td><td style="border-right:1px solid #000 !important;"><input type="checkbox" name="q1d" class="q1" (click)="selectionner($event)"></td>
  <td  style="background-color: slategrey;border-right:1px solid #000 !important;border-top: 0px solid transparent !important;"></td>
  <td style="border-right:1px solid #000 !important;border-left:1px solid #000 !important;background-color: rgb(146, 139, 139);">{{number[1]}}-</td>
  <td><input type="checkbox" name="q13a" class="q13" (click)="selectionner($event)"></td><td><input type="checkbox" name="q13b" class="q13" (click)="selectionner($event)"></td><td><input type="checkbox" name="q13c" class="q13" (click)="selectionner($event)"></td><td  style="border-right:1px solid #000 !important;"><input type="checkbox" name="q13a" class="q13" (click)="selectionner($event)"></td>

