
<div class="row">
    <div class="col-12 padding-login">
    <h2>Se connecter</h2>
<form #formulaire="ngForm">
    <div class="form-group">
        <label class="requis" for="email">Email</label>
        <input type="text" name="email" [(ngModel)]="userLogin.email"
        class="form-control" #email="ngModel" required>
        <app-champ-obligatoire [modele]="email"></app-champ-obligatoire>
    </div>
    <div class="form-group">
        <label class="requis" for="password">Mot de passe</label>
        <input type="password" [(ngModel)]="userLogin.password"
         name="password" #password="ngModel" class="form-control" required>
         <app-champ-obligatoire [modele]="password"></app-champ-obligatoire>
    </div>
    <div class="form-group">
        <button [disabled]="loading || !formulaire.valid" class="btn bg-color-green" (click)="connecter()">Connecter</button>
        <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

    </div>
</form>
<button class="btn bg-color-green" (click)="signInWithGoogle()">Connecter avec Google</button>
<asl-google-signin-button type='icon' size='medium'></asl-google-signin-button>
    </div>
</div>